Button {
  base: button;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  margin: 0 auto;
  cursor: pointer;
  background-color: white;
  background-size: contain;
  transition: 0.2s;
  outline: 0;
}

Button:start {
  background-image: url('img/start.svg');
}

Button:stop {
  background-image: url('img/reset.svg');
}
